body {
  overflow-y: hidden;
}

pre {
  background-color: #eee;
}

a {
  text-decoration: none;
}

#mainContainer {
  height: 100vh;
}

.highlighted {
  background: #8ee;
  line-height: 34px;
}

.angular-google-map-container {
  height: 600px;
}

/*toolbar*/
.toolbar{
  background: white;
}

.logo{
  text-decoration: none;
}

.logo h1{
  color: black;
  margin: 0;
}

.logo h1 span{
  color: #76A442;
}

.toolbar-search{
  background-color: #76A442;
}

.breadcrumb{
  background-color: #F1EEE9;
  padding-bottom: 0;
}

.breadcrumb p{
  margin: 0;
  color: #8BB9AE;
}

.breadcrumb a{
  text-decoration: none;
  color: #8BB9AE;
  font-size: .7em;
  font-weight: bold;
}

md-autocomplete input[name="autocompleteSearch"]  {
  background: url(../images/search-solid.svg);
  background-repeat: no-repeat;
  background-position: 5px 7px;
  padding: 0px 35px;
  background-size: 26px;
  background-color: #76A442;
  border: 2px solid white;
  font-size: 20px;
}
md-autocomplete input[name="autocompleteSearch"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
md-autocomplete input[name="autocompleteSearch"]::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
 md-autocomplete input[name="autocompleteSearch"]:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
md-autocomplete input[name="autocompleteSearch"]:-moz-placeholder { /* Firefox 18- */
  color: white;
}

/* main */
#mainContainer md-content{
  background-color: #F1EEE9;
}
.main-list{
  padding-top: 0;
}
.main-list md-list-item{
  background-color: #F1EEE9;
  border: 4px solid white;
  margin: 10px;
}

.main-list md-list-item md-divider{
  border-color: #F1EEE9;

}

.main-list md-list{
  padding-top: 0;
}

.list-item{
  text-decoration: none;
}

/*proyecto*/
.main-card{
  background-color: #F1EEE9;
  border: 4px solid white;
}

.main-card md-card{
  box-shadow: none;
  background-color: #F1EEE9;
}

.main-card md-list-item strong{
  color: #86AC5A;
}

.main-card md-list-item a{
  color: black;
}

.main-card .card-buttons a.md-button,
.main-card .md-button.md-primary.md-raised:not([disabled]).md-focused,
.main-card .card-buttons a.md-button:hover,
.main-card .md-button.md-primary.md-raised:not([disabled]):hover
{
  background: #ECB060;
  color: white;
}

.main-card .card-buttons .md-button[disabled]:hover,
.main-card .card-buttons .md-button[disabled]{
  background: #bbb;
}

.main-card md-list-item::before,
.main-card md-list-item.md-no-proxy, md-list-item .md-no-style{
  min-height: 30px;
}

.md-autocomplete-suggestions-container li:hover{
  background-color: #86B2A5;
}

.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
}

/*footer*/
#footer{
  background-color: #86B2A5;
}

#footer a {
  border: 2px solid white;
  color: white;
  margin: 5px;
  font-weight: bold;
  font-size: 15px;
}

#footer md-icon{
  color: white;
}
