<div layout='column' layout-align='center' id='mainContainer' flex>
  <md-toolbar md-scroll-shrink ng-include="'views/toolbar.html'"></md-toolbar>
  <md-content flex>
    <md-list layout-padding>
      <md-list-item class="md-3-line" ng-repeat="mia in vm.mias"  >
        <div class="md-list-item-text" layout="column" md-padding>
          <h3><a ng-href='#/proyecto/{{mia.clave}}'>{{ mia.proyecto }} - {{ mia.clave }}</a></h3>
          <h4>{{ mia.entidad }} - {{mia.fechaIngreso | date : shortDate}}</h4>
          <p>{{ mia.tramite }}</p>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>
