<div layout='column' layout-align='center' id='mainContainer' flex>
  <md-toolbar md-scroll-shrink ng-include="'views/toolbar.html'"></md-toolbar>
  <md-content flex layout-padding>
    <md-card layout-padding>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{vm.mia.proyecto}} - {{vm.mia.clave}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-list layout-padding>
        <md-list-item>
          <p><strong>Entidad:</strong> <a ng-href='#/?entidad={{vm.mia.entidad}}'>{{vm.mia.entidad}}</a></p>
        </md-list-item>
        <md-list-item>
          <p><strong>Clave:</strong> {{ vm.mia.clave }}</p>
        </md-list-item>
        <md-list-item>
          <p><strong>Fecha de ingreso: </strong>{{vm.mia.fechaIngreso | date : shortDate}}</p>
        </md-list-item>
        <md-list-item>
          <p><strong>Situación actual:</strong> {{ vm.mia.situacionActual }}</p>
        </md-list-item>
        <md-list-item>
          <p><strong>Tramite: </strong>{{ vm.mia.tramite }}</p>
        </md-list-item>
        <md-list-item>
          <p><strong>Estado:</strong> {{ vm.mia.estado }}</p>
        </md-list-item>
        <md-list-item>
          <p><strong>Gaceta de referencia:</strong><a ng-href='{{vm.mia.gaceta.pdf}}' target='_blank'> {{ vm.mia.gaceta.pdf }}</a></p>
        </md-list-item>
      </md-list>
      <h3>Documentos</h3>
      <div layout='row'>
        <md-button ng-disabled="!vm.mia.resumen" ng-href='{{vm.mia.resumen}}' target='_blank' class="md-raised md-primary">Resumen</md-button>
        <md-button ng-disabled="!vm.mia.estudio" ng-href='{{vm.mia.estudio}}' target='_blank' class="md-raised md-primary">Estudio</md-button>
        <md-button ng-disabled="!vm.mia.resolutivo" ng-href='{{vm.mia.resolutivo}}' target='_blank' class="md-raised md-primary">Resolutivo</md-button>
      </div>
    </md-card>
    <md-card layout-padding ng-repeat='space in vm.spaces' layout='column'>
      <ui-gmap-google-map flex center='vm.map.center' zoom='vm.map.zoom'>
        <ui-gmap-polygon path='vm.path' stroke='{color:"#6699ee",opacity:1}' fill='{color:"#6699ee",opacity:.2}' fit='true'></ui-gmap-polygon>
      </ui-gmap-google-map>
      <div layout='row'>
        <md-table-container flex='40'>
          <table md-table md-row-select multiple ng-model='vm.selected'>
            <thead md-head>
              <tr md-row>
                <th md-column md-numeric>Punto</th>
                <th md-column md-numeric>x</th>
                <th md-column md-numeric>y</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="(key,point) in space">
                <td md-cell>{{key+1}}</td>
                <td md-cell>{{point.x.match}}</td>
                <td md-cell>{{point.y.match}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <pre layout-padding ng-bind-html='vm.getTextFragment(space) | highlightWords : vm.getHighlights(space) '></pre>
      </div>
    </md-card>
  </md-content>
</div>
