<div class="toolbar">
  <a href="#!/" class="logo" layout="column"  layout-align="center center" layout-padding>
    <img src="images/logo_am.png" alt="">
  </a>
  <div class="toolbar-search" layout-padding layout="row" layout-align="center center">
    <div ng-include="'views/search.html'" flex="90"></div>
  </div>
  <div class="breadcrumb" ng-controller='ToolbarCtrl as vm' layout='column' layout-padding>
    <p>
      <a href='#!/'>AMBIENTALAPP</a>
      <span ng-if='vm.breadcrumb.length'> / </span>
      <span ng-repeat='crumb in vm.breadcrumb' md-padding><a ng-href='#!/{{crumb.href}}'> {{crumb.display}}</a></span>
    </p>
  </div>
</div>

